header {
    /* height: 100vh; */
    padding-top: 5rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ######## CTA ######## */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ######## HEADER SOCIALS ######## */
.header_socials {
    display: flex;
    size: 6rem;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    /* color: azure; */
    /* position: absolute; */
    /* left: 10%; */
    /* bottom: 3rem; */
}

.header_socials > a {
    display: flex;
    size: 10rem;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    /* color: azure; */
    /* position: absolute; */
    /* left: 10%; */
    /* bottom: 3rem; */
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-black);
}

/* ######## ME ######## */
.me {
    /* background-color: var(--color-bg); */
    /* width: 60rem; */
    /* height: 40rem; */
    /* position: absolute; */
    /* align-items: center; */
    margin-top: 1rem;
    /* overflow: hidden; */
}

/* ######## SCROLL DOWN ######## */
.scroll_down {
    position: absolute;
    font-weight: 300;
}

/* ############# MEDIA QUERIES (MEDIUM DEVICES) ############# */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }


}

/* ############# MEDIA QUERIES (SMALL DEVICES) ############# */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }


}

